 <!-- Footer -->
 <footer>
    <div class="footer-container">
        <div class="footer-left">
            <h3>L.Mark</h3>
            <p>We help you find the perfect book for you.</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>

        <div class="footer-right">
            <div class="footer-column">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Our Story</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Contact</h4>
                <ul>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 All Rights Reserved. Terms of use L.Mark</p>
    </div>
</footer>


</body>
</html>
